@import "tailwindcss/utilities";
@layer utilities {
    .page-break {
        page-break-after: always;
    }
    .text-justify {
        text-align: justify;
        text-align-last: justify;
    }
    .footer {
        font-size: 10pt;
        position: running(footer);
    }
    .grayscale {
        filter: grayscale(100%);
    }
    .serial {
        font-size: 12pt;
        transform-origin: center;
        transform: scale(0.2);
    }
    .watermark {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
    .watermark>img {
        width: 120%;
        opacity: 0.3;
        margin-top: -3rem;
        margin-left: -4rem;
    }
    ol.chinese {
        list-style-type: cjk-ideographic;
    }
    .text-indent {
        text-indent: 1rem;
    }
    .-text-indent_0_8 {
        text-indent: -0.8rem;
    }
    .-text-indent_1_1 {
        text-indent: -1.1rem;
    }
    .-text-indent_1_2 {
        text-indent: -1.2rem;
    }
    .-text-indent_1_3 {
        text-indent: -1.3rem;
    }
    .-text-indent_1_5 {
        text-indent: -1.5rem;
    }
    .-text-indent_1_7 {
        text-indent: -1.7rem;
    }
    .-text-indent_1_8 {
        text-indent: -1.8rem;
    }
    .text-justify-last {
        text-align: justify;
        text-align-last: left;
    }
    .w-100 {
        width: 180mm;
    }
}